body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0c0c0c;
  overflow: hidden;
}

div {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0px 0px;
}

input {
  background-color: #2B2B2B;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  box-shadow: inset 0px 0px 5px #181818;
  outline: none;
}

input.error {
  box-shadow: inset 0px 0px 5px #ff3939;
}

.base-grid {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  overflow: hidden;
}

.frame-grid {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-gap: 0px;
  -webkit-app-region: drag;
  background-color: #2B2B2B;
}

.frame-grid button {
  -webkit-app-region: no-drag;
  width: 50px;
}

.content-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px); /* Fixed width of 75px for each column */
  grid-gap: 10px;
  overflow: auto;
  align-content: start;
  overflow: auto;
  padding: 10px 30px;
}

.content-item {
  display: grid;
  grid-template-rows: 1fr auto auto;
  text-align: center;
  background-color: #1f1f1f;
  place-content: center;
  padding: 10px;
  border-radius: 5px;
  grid-gap: 5px;
}

.content-item h3 {
  color: white;
}

.content-item img {
  width: 100%;
}

.content-rating {
  display: grid;
  grid-template-columns: repeat(5, auto);
  place-content: center;
}

.nav-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  border-bottom-style: solid;
  border-color: #0077b6;
  border-width: 1px;
}

.nav-button {
  position: relative;
  background-color: transparent;
  border-style: none;
  padding: 20px;
  color: #0077b6;
  font-weight: 800;
  font-size: 17px;
  text-align: center;
}

.nav-button:hover {
  text-shadow: 0px 0px 3px #0085cc;
}

.nav-button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #00b4d8; 
  margin-left: -5px; 
}

.nav-button.active {
  background-color: #0077b6;
  color: #0c0c0c;
}

.control-settings {
  display: flex;
  background: rgb(37,37,37);
  background: linear-gradient(180deg, rgba(37,37,37,1) 0%, rgba(14,14,14,1) 82%, rgba(12,12,12,1) 100%);
  padding: 10px 10px;
  justify-content: right;
  grid-gap: 5px;
}

.slim-button {
  background-color: transparent;
  border-style: none;
  padding: 10px;
  color: #0077b6;
  position: relative;
}

.slim-button:hover{
  background-color: #0077b6;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1f1f1f;
  min-width: 210px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.925);
  z-index: 1;
  top: 100%; /* Position the dropdown below the button */
  right: 0px; /* Align the left edge of the dropdown with the button */
}

.slim-button:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #0077b6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.733); /* Semi-transparent overlay background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.centered-container {
  width: 50vw;
  background: rgb(53, 53, 53);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: grid;
}

.centered-container h1 {
  color: white;
  margin-bottom: 5px;
}

.drop-area {
  background-color: #181818;
  border-radius: 5px;
  padding: 50px 0px;
  margin-bottom: 5px;
}

.drop-area.error {
  box-shadow: inset 0px 0px 5px #ff3939;
}

.drop-area h5 {
  color: #f0f0f0;
}

.star-rating {
  padding: 10px;
}

.fa-star {
  font-size: 24px;
  color: #ddd;
  cursor: pointer;
}

.fa-star:hover,
.fa-star.active {
  color: #ffcc00;
}

.user-button {
  background-color: #0077b6;
  padding: 10px 20px;
  font-weight: 600;
  border-style: none;
}

.user-button:hover{
  background-color: #008cd8;
}

.view-media-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #a73f3f;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
