body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0c0c0c;
  overflow: hidden;
}

div {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0px 0px;
}

input {
  background-color: #222222;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  box-shadow: inset 0px 0px 5px #181818;
  outline: none;
}

input.error {
  box-shadow: inset 0px 0px 5px #ff3939;
}

.base-grid {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  overflow: hidden;
}

.frame-grid {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-gap: 0px;
  -webkit-app-region: drag;
  background-color: #2B2B2B;
}

.frame-grid button {
  -webkit-app-region: no-drag;
  width: 50px;
}

.content-grid{
  display: grid;
  background: rgb(12,12,12);
  background: linear-gradient(180deg, rgba(12,12,12,1) 0%, rgba(10,10,10,1) 100%);
  grid-template-columns: repeat(auto-fill, 200px); /* Fixed width of 75px for each column */
  grid-gap: 10px;
  overflow: auto;
  align-content: start;
  overflow: auto;
  padding: 20px 30px;
}

.content-item {
  display: grid;
  grid-template-rows: 1fr auto auto;
  text-align: center;
  background-color: #1f1f1f;
  place-content: center;
  padding: 10px;
  border-radius: 5px;
  grid-gap: 5px;
  transition: transform 0.3s ease-in-out;
}

.content-item.hover{
  box-shadow: 0px 0px 10px #0077b6;
  transform: scale(1.05);
}

.content-item h3 {
  color: #ececec;
}

.content-item img {
  width: 100%;
  height: 250px; /* Set a fixed height for all images */
  object-fit: cover; /* Crop the image to cover the specified dimensions */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}

.content-rating {
  display: grid;
  grid-template-columns: repeat(5, auto);
  place-content: center;
}

.nav-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  border-bottom-style: solid;
  border-color: #0077b6;
  border-width: 1px;
}

.nav-button {
  position: relative;
  background-color: transparent;
  border-style: none;
  padding: 20px;
  color: #0077b6;
  font-weight: 800;
  font-size: 17px;
  text-align: center;
}

.nav-button.hover {
  background: rgb(12,12,12);
  background: linear-gradient(180deg, rgba(12,12,12,1) 0%, rgba(0,46,70,1) 100%);
}

.nav-button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #00b4d8; 
  margin-left: -5px; 
}

.nav-button.active {
  background-color: #0077b6;
  color: #0c0c0c;
}

.control-settings {
  display: flex;
  background: rgb(37,37,37);
  background: linear-gradient(180deg, rgba(37,37,37,1) 0%, rgba(14,14,14,1) 82%, rgba(12,12,12,1) 100%);
  padding: 10px 10px;
  justify-content: right;
  grid-gap: 5px;
}

.slim-button {
  background-color: transparent;
  border-style: none;
  padding: 10px;
  color: #0077b6;
  position: relative;
  width: 50px;
}

.slim-button:hover{
  background-color: #0077b6;
  color: black;
}

.dropdown-button {
  background-color: transparent;
  border-style: none;
  padding: 10px;
  color: #0077b6;
  position: relative;
}

.dropdown-button:hover{
  background-color: #0077b6;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1f1f1f;
  min-width: 210px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.925);
  z-index: 1;
  top: 100%; /* Position the dropdown below the button */
  right: 0px; /* Align the left edge of the dropdown with the button */
}

.dropdown-button:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #0077b6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.733); /* Semi-transparent overlay background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.centered-container {
  width: 50vw;
  background: rgb(53, 53, 53);
  background: linear-gradient(180deg, rgba(53, 53, 53, 1) 0%, rgba(38, 38, 38, 1) 40%, rgba(38, 38, 38, 1) 50%, rgba(38, 38, 38, 1) 60%, rgba(53, 53, 53, 1) 100%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: grid;
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; /* Combine transitions */
}

.centered-container.active {
  opacity: 1;
  transform: scale(1);
}

.centered-container h1 {
  color: white;
  margin-bottom: 5px;
}

.drop-area {
  background-color: #181818;
  border-radius: 5px;
  padding: 50px 0px;
  margin-bottom: 5px;
}

.drop-area.error {
  box-shadow: inset 0px 0px 5px #ff3939;
}

.drop-area h5 {
  color: #f0f0f0;
}

.star-rating {
  padding: 10px;
}

.fa-star {
  color: rgb(210,168,0);
  color: radial-gradient(circle, rgba(210,168,0,1) 0%, rgba(255,204,0,1) 46%, rgba(255,235,155,1) 100%);
  margin: 0px 2px;
  text-shadow: 0px 0px 2px white;
  font-size: 18px;
}

.assignStar {
  font-size: 24px;
  color: #222222;
  cursor: pointer;
}

.assignStar:hover,
.assignStar.active {
  color: rgb(210,168,0);
  color: radial-gradient(circle, rgba(210,168,0,1) 0%, rgba(255,204,0,1) 46%, rgba(255,235,155,1) 100%);
  text-shadow: 0px 0px 2px white;
}

.user-button {
  background: rgb(0,143,219);
  background: linear-gradient(180deg, rgba(0,143,219,1) 0%, rgba(0,119,182,1) 100%);
  padding: 10px 20px;
  font-weight: 600;
  border-style: none;
}

.user-button:hover{
  filter: brightness(1.2);
}

.view-media-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}

.view-media-grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.view-media-grid h2 {
  color: #ececec;
}

.search-input {
  width: 0;
  overflow: hidden; /* Ensure content doesn't overflow during transition */
  transition: width 0.4s ease-in-out;
}

.search-input.active {
  width: 200px; /* Adjust this value based on your desired expanded width */
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #a73f3f;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
